<!DOCTYPE html>
  <html>
    <head>
      ...
      <meta name="viewport" content="initial-scale=1.0,
        width=device-width" />
      <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
        type="text/javascript" charset="utf-8"></script>
      <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
        type="text/javascript" charset="utf-8"></script>
      ...
    </head>
    <body>
      <div style="width: 640px; height: 480px" id="mapContainer"></div>
      <script>
            // Initialize the platform object:
            var platform = new H.service.Platform({
            'apikey': 'VCjg0wHmv7jVvlSdwLF0KFdrMNulvsgYR_g5Z6PV2qc'
            });
    
            // Obtain the default map types from the platform object
            var maptypes = platform.createDefaultLayers();

            const router = platform.getRoutingService();
            const geocoder = platform.getGeocodingService(); 
        
            var location; //THIS OBJECT NEEDS TO BE POPULATED...
            
            function getGPS(position) {
                location = {
                    lat: position.coords.latitude, //WITH THE DATA THAT'S HERE,  WHICH IS CALLED...
                    lng: position.coords.longitude
                };

            }  
            
            var coordinates = navigator.geolocation.getCurrentPosition(getGPS); //RIGHT HERE... WHAT AM I DOING SYNTAX-WISE? PLEASE TEXT ME OR SOMETHING.E
            
            var map = new H.Map(
                document.getElementById('mapContainer'),
                maptypes.vector.normal.map,
                {
                    zoom: 16,
                    center:
                    { 
                        lat: coordinates.lat,
                        lng: coordinates.lng
                    }
                }
            );


                 

        //     var location;
        //     function getLocalCoordinates(position)
        //     {
        //         location = { lat: position.coords.latitude,
        //             lng: position.coords.longitude
        //         }
        //     }

        //    navigator.geolocation.getCurrentPosition(getLocalCoordinates);

        //     var map = new H.Map(
        //         document.getElementById('mapContainer'),
        //         maptypes.vector.normal.map,
        //         {
        //             zoom: 16,
        //             center:
        //             { 
        //                 lat: currentLocation.latitude,
        //                 lng: currentLocation.longitude
        //             }
        //         });
                
      </script>
    </body>
</html>