<!DOCTYPE html>
  <html>
    <head>
      ...
      <meta name="viewport" content="initial-scale=1.0,
        width=device-width" />
      <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
        type="text/javascript" charset="utf-8"></script>
      <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
        type="text/javascript" charset="utf-8"></script>
      ...
    </head>
    <body>
      <div style="width: 640px; height: 480px" id="mapContainer"></div>
      <script>
            // Initialize the platform object:
            var platform = new H.service.Platform({
            'apikey': 'VCjg0wHmv7jVvlSdwLF0KFdrMNulvsgYR_g5Z6PV2qc'
            });
    
            // Obtain the default map types from the platform object
            var maptypes = platform.createDefaultLayers();

            const router = platform.getRoutingService();
            const geocoder = platform.getGeocodingService(); 
 //I NEED TO POPULATE THESE VARIABLES
            
                navigator.geolocation.getCurrentPosition(async position => //AND I CAN'T DO IT FROM AN ARROW FUNCTION LIKE THIS ONE, GETS LATITUDE AND LONGITUDE
                {
                    let latitude = (position.coords.latitude.toPrecision(8));
                    let longitude = (position.coords.longitude.toPrecision(8));

                    // Instantiate (and display) a map object:
                    var map = new H.Map(
                    document.getElementById('mapContainer'),
                    maptypes.vector.normal.map,
                    {
                        zoom: 16,
                        center:
                        { 
                            lat: latitude,
                            lng: longitude
                        }
                    });
                });
                
      </script>
      </body>
      </html>
