<!DOCTYPE html>

<html lang="en">

    <head>
        <h1>"Powered by HERE Maps"</h1>   
        <!--THESE ARE THE IMPORTED CLASSES FOR THE HERE MAPS API-->
            <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
            <!-- <script type="text/javascript" >window.ENV_VARIABLE = 'https://developer.here.com'</script>
            <script src='https://developer.here.com/javascript/src/iframeheight.js'></script> -->
            <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
            <script src="https://js.api.here.com/v3/3.1/mapsjs-core-legacy.js"type="text/javascript" charset="utf-8"></script>
            <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
            <script src="https://js.api.here.com/v3/3.1/mapsjs-service-legacy.js"type="text/javascript" charset="utf-8"></script>
            <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js" type="text/javascript" charset="utf-8"></script>
            <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
        <!--END OF IMPORTED CLASSES FOR HERE MAPS API-->
        <title>PIP Maps</title>
    </head>

    <body>
        <div style="width: 640px; height: 480px" id="mapContainer"></div>
        <script>                
            // Instantiate (and display) a map object:
            const map = new H.Map(
                document.getElementById('mapContainer'),
                maptypes.vector.normal.map,
                {
                    zoom: 10,
                    center: { lng: 13.4, lat: 52.51 }
                    //center: { lat: userLatitude, lng: position.userLongitude } //Map position is set to detected user location
                });

            // // Create the default UI (user can now select zoom level and map selector):
            // var ui = H.ui.UI.createDefault(map, defaultLayers, 'en-US');
            
            // // Enable the event system on the map instance (enable clicks, drags and tap functionality):
            // var mapEvents = new H.mapevents.MapEvents(map);
            
            // // Instantiate the default behavior, providing the mapEvents object:
            // var behavior = new H.mapevents.Behavior(mapEvents);

            // const provider = map.getBaseLayer().getProvider();

            // // Create a group that can hold map objects:
            // group = new H.map.Group();

            // // Add to the map object, allowing any objects added to this group to be displayed on the map itself:
            // map.addObject(group);

            // // Add event listener (each listener responds to a different type of event, decide what you want each event to do here):
            // map.addEventListener('longpress', async evt => {            //YOU MAY HAVE TO REMOVE THE ASYNC OPERATOR HERE
            //     // Log 'longpress' and 'longclick' events:
            //     console.log(evt.type, evt.currentPointer.type);

            //     var mapMarker_areaOfTraffic =  new H.map.Marker(map.screenToGeo(evt.currentPointer.viewportX, //Get coordinates from screen press
            //     evt.currentPointer.viewportY));

            //     var circle_aroundMapMarker = new H.Map.Circle(map.screenToGeo(evt.currentPointer.viewportX, //Make circle around click location
            //     evt.currentPointer.viewportY), 8000);

            //     group.addObject(mapMarker_areaOfTraffic);
            //     group.addObject(circle_aroundMapMarker);
            // });
        </script>
    </body>
</html>
